.navbar{
  background:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  padding: 0.5rem 0rem;
}
.nav_logo{
  width: 20%;
}

.nav_items a{
  margin: 15px;
  color: #00649c;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px 0 10px;
  line-height: 10px;
}
.nav_toggle{
  display: none;
}

@media (max-width: 768px) {
  .nav_items{
      position: fixed;
      top: 70px;
      left: 0;
      background: #0074d9;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: -webkit-fill-available;        
      transform: translateX(-100%);
      transition: 0.3s ease all;
      z-index: 3000;

  }
  .navbar{
      color: white;
  }
  .nav_logo{
      width: 80%;
  }
  .nav_items a{
      color: white;
  }
  .nav_items.open{
      transform: translateX(0) !important
  }
  .nav_toggle{
      display: flex !important;
      flex-direction: column;                
      margin: 15px;
  }
  .nav_toggle span{
      width: 30px;
      height: 4px;
      background: #00649c;
      margin-bottom: 5px;
      border-radius: 2px;             
      transform-origin: 5px 0px;
      transition: all 0.2s linear;
  }
  .nav_toggle.open > span{
      transform: rotate(45deg) translate(0px, 0px);
  }
  .nav_toggle.open > span:nth-child(2){
      display: none;
  }
  .nav_toggle.open > span:nth-child(3){
      transform: rotate(-45deg) translate(-5px, 1px);
  }
}