.gallery-title
{
    color: #2f64b3;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}
.gallery-title:after {
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #2f64b3;
    border-radius: 5px;
    text-align: center;
    color: #2f64b3;
    margin-bottom: 30px;
    margin-right: 5px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #2f64b3;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #2f64b3;

}
.btn-default:active .filter-button:active
{
    background-color: #2f64b3;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


.wrapper {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  }